.Rproj.user
.Rhistory
.RData
.Ruserdata

# large files that should not be tracked
/data/raw/0056_ryvkina_ts_raw.csv
/data/raw/0057_ryvkina_ts_raw.csv
/data/raw/0070_vanhalem_sensor_raw.csv
/scripts/metadata_summary.R

# for the public version, remove all data
/data/raw/*
!/data/raw/.gitkeep
/data/clean/*
!/data/clean/.gitkeep
